:root {
  --background-color: #ffffff;
  --detail-color: #4d4d4d;

  --font-color: var(--detail-color);
  --detail-font-color: var(--background-color);
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.no_movie_found_text
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: var(--font-color);
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.app {
  display: flex-inline;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;

  width: calc(100vw - 50px);
  height: calc(100vh - 110px);
  padding: 25px;

  background: var(--background-color);
  box-shadow: inset 0px 3px 5px -3px #000000;
}

.nav-bar {
  display: flex;
  justify-content: center;

  width: calc(100vw - 10px);
  height: 50px;
  padding: 5px;

  background-color: var(--detail-color);
}
