.nav-link {
  padding: 10px;
  font-size: 25px;
  color: var(--detail-font-color);
  text-decoration: none;
}

.nav-button {
  padding: 10px;
  font-size: 25px;
  color: var(--detail-font-color);
  background: var(--detail-color);
  border-style: none;
  text-decoration: none;
}
